/*body{
    background-color: #181A1B;

}*/

p{
    color: #FFF;
}

.dropdown-content{
    color: white;
}
html, #pozadina{
    background: linear-gradient(to right, #241E92,#04293A);
    color: black;
}

.ulaz{
    color: white;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #241E92,#04293A);
}

.navigacija{
    background: linear-gradient(to right, #241E92,#04293A);

}

#tabelaPredavaci, #tabelaPredavanja, .spisak{
    color: white;
}
